@use './_vars.scss';

.login {
   display: grid;
   height: 100vh;
   place-items: center;
   width: 100%;
 }

 .form-container {
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 300px;
 }

 .login-logo {
   display: none;
   justify-self: center;
   margin-bottom: 48px;
   width: 150px;
 }

 .title {
   font-size: var(--lg);
   margin-bottom: 12px;
   text-align: center;
 }

 .subtitle {
   color: var(--very-light-pink);
   font-size: var(--md);
   font-weight: 300;
   margin-bottom: 32px;
   margin-top: 0;
   text-align: center;
 }

 .form {
   display: flex;
   flex-direction: column;
 }

 .label {
   font-size: var(--sm);
   font-weight: bold;
   margin-bottom: 4px;
 }

 .input {
   background-color: var(--text-input-field);
   border-radius: 8px;
   border: none;
   font-size: var(--md);
   height: 30px;
   margin-bottom: 12px;
   padding: 6px;
 }

 .primary-button {
   background-color: var(--hospital-green);
   border-radius: 8px;
   border: none;
   color: var(--white);
   cursor: pointer;
   font-size: var(--md);
   font-weight: bold;
   height: 50px;
   width: 100%;
 }

 .login-button {
   margin-bottom: 30px;
   margin-top: 14px;
 }

 @media (max-width: 640px) {
   .login-logo {
     display: block;
   }
 }