@use './_vars.scss';

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background-color: white;
  top: 60px;
  bottom: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid var(--very-light-pink);
  animation: swipeLeft 1s ease forwards;

  overflow-y: auto;
  max-height: 840px;
  -webkit-animation: swipeLeft 1s ease forwards;
}

@keyframes swipeLeft {
  100% {
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}
}
  
.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.cart-product-order {
  max-height: calc(100vh - 440px);
  overflow-y: auto;
}

/* width */
.cart-product-order::-webkit-scrollbar {
  display: none;
}

 .cart-product-order::-webkit-scrollbar-thumb:active {
   background-color: #999999;
 }

/* Track */
.cart-product-order::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Handle */
.cart-product-order::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Handle on hover */
.cart-product-order::-webkit-scrollbar-thumb:hover {
  background: var(--hospital-green);
  box-shadow: 0 0 2px 1px rgba (0, 0, 0, 0.2);
}


@media (max-width: 640px) {
  .MyOrder {
    width: 90%;
  }
}
